/*
 * @Author: Emma Forslund - emfo2102 
 * @Date: 2022-03-17 19:54:36 
 * @Last Modified by: Emma Forslund - emfo2102
 * @Last Modified time: 2022-03-18 21:20:29
 */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato&family=Questrial&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
}

img{
   max-width:100%;
   margin-top:1rem;
}

.hero-image{
    position: relative;
    top:4rem;
    margin:auto;
    display: block;
}
.hero-image img{
    display: block;
    margin:auto;
    width:100%;
}

.hero-text {
    text-align: center;
        position: absolute;
        top: 27%;
        right:25%;
        color: white;
        background-color: rgba(0, 0, 0, 0.747);
        padding:2%;
        border-radius:5px;
 }

 .hero-text h2{
     font-size:2.5rem;
 }


main{
    max-width:1300px;
    width:100%;
    display: block;
margin: 4rem auto 0 auto;
padding:2%;
}

html{
    font-size: 62.5%;
    background-color: rgb(248, 247, 247);
}

h1{
    font-size:3rem;
    margin:1rem;
    font-family: 'DM Serif Display', serif;
}

h2{
    font-family: 'DM Serif Display', serif;
    font-size:2.8rem;
}

h3{
    font-family: 'DM Serif Display', serif;
    font-size:2.4rem; 
}

h4{
    font-family: 'DM Serif Display', serif;
}

a{
    font-family: 'Lato', sans-serif;
}

li{
    font-family: 'Lato', sans-serif;
}

a:hover{
    font-weight: bold;
}

button{
    cursor: pointer;
}

header a{
    color:black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.desktop-nav a{
    font-size: 1.8rem;
}

.hamburger-menu{
    display: none;
}

a{
    font-family: 'Lato', sans-serif;
}


p{
    font-size:1.8rem;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    position:fixed;
    top: 0;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index:1;
}

.desktop-nav li{
    display: inline-block;
    margin-right:3rem;
}

.desktop-nav ul{
    position: absolute;
    right:1rem;
    top:1rem;
}

/*Startsidan*/

.index{
    background-color: white;
    padding:3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}


#space{
    padding:1%;
    margin-top:4rem;
}

#output-content{
    line-height: 1.8;
    padding:2%;
}

.flex-index{
    display: flex;
    justify-content: space-between;
}

.flex-article{
    flex-shrink: 5;
}

#swedish{
    display: none;
    background-color: #ffffff;
    border:2px solid rgb(138, 137, 137);
    padding:2.5%;
}

#output-article img{
    max-width:80%;
    float:right;
}

#output-div{
    max-width:600px;
    width:100%;
    background-color: white;
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#space h2{
    text-align: center;
}

.flex-nasa{
    display: flex;
    justify-content: space-between;
}

#hide-swedish{
    background-color: #c0dfd7;
    border:1px solid #788683;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 4px;
    padding:2%;
}
#hide-swedish:hover{
    background-color: #232726;
    color:white;
}

#latest-h2{
text-align: center;
}

.flex-nasa div{
align-items: baseline;
}

#img-nasa{
    margin-top:4rem;
}


#img-nasa img{
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 4px;
}

.detail{
    min-height:50vh;
}

.details{
    float:right;
    color:rgb(48, 48, 48);
    font-size: 1.6rem;
    text-decoration: none;
}

.posted{
text-align: center;
color:rgb(34, 34, 34);
font-size: 1.6rem;
border-bottom: 1px solid rgb(128, 128, 133);
margin:0 auto 4rem auto;
max-width:500px;
}


.index-member{
    background-color: rgb(43, 43, 43);
    padding:10rem;
    margin-top:0;
    width:100%;
    margin-top:5rem;
}
.index-member h2{
    color:white;
    font-size:3.7rem;
}

.index-member a{
    font-size:2.3rem;
    color:white;
    text-decoration: none;
}

#ok i{
    color:green;
}

.index-register{
    text-align: center;
}


.latest{
    max-width:800px;
    width:100%;
    border:1px solid rgb(231, 229, 229);
margin:2rem auto;
    padding-top:0;
    padding-bottom:4%;
    padding-left:2%;
    padding-right:2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
}

.latest h3{
    margin-bottom:0;
}

.admin h3{
    text-align: center;
}

article h2, h3,h4{
    text-align: center;
    font-size: 2.6rem;
    color:rgb(1, 1, 63);
        font-family: 'DM Serif Display', serif;
}

#users{
    padding-left:0;
}

.index-users{
    background-color: 
    #ededed;
    padding:2rem;
    max-width:240px;
    width:100%;
  margin: 3rem 0 auto 2rem;
  align-self: baseline;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.index-users h2{
    font-size: 2rem;
}

#img-flex img{
    border:3px solid #ededed;
}

#img-flex{
    margin-left:1rem;
    border:1px solid #ededed;
    padding:2%;
}

#img-flex h2{
    font-size:2.3rem;
}


.index-users a{
    color:black;
    text-decoration: none;
    font-size: 1.6rem;
}

#getstarted-ul{
    list-style-type: circle;
    text-align: left;
    margin-bottom:2rem;
}

#getstarted-ul li{
    font-size:1.6rem;
}

#register-a{
    color:black;
    font-size:1.6rem;
    text-decoration: none;
    padding:1rem;
    background-color: 
    #c0dfd7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:focus {
    border: 2px solid #f2796e;
  }


.index-users li{
    border-bottom:1px solid rgb(61, 60, 60);
    font-size:1.6rem;
    margin-top:2rem;
}

/*Logga in-sidan*/

label {
font-size:1.8rem;
font-family: 'Questrial', sans-serif;
}
#login-form{
    max-width:450px;
    width:100%;
    padding:2%;
    display: block;
    margin:12rem auto auto auto;
    background-color: rgb(255, 255, 255);
    border:2px solid rgb(163, 161, 159);
}

input[type=text], input[type=password], input[type=email] {
    max-width:400px;
    width:100%;
    padding:0.5rem;
    margin-top:0.5rem;
}

input[type=submit]{
    max-width:170px;
    width:100%;
    background-color: rgb(15, 0, 56);
    color:white;
    border:none;
    padding:2%;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    margin:1rem auto;
    display: block;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


input[type=submit]:hover{
    background-color: rgb(36, 1, 134);
}


form h2{
    text-align: center;
    border-bottom:1px solid gray;
    padding-bottom:1.5rem;
    margin-top:0;
}

#member{
    background-color: rgb(200, 204, 255);
    color:black;
    text-decoration: none;
    padding:0.5rem;
    font-size:1.6rem;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border:2px solid rgb(95, 95, 95);
}

.form-flex{
    display: flex;
    align-items: baseline;
    margin-top:2rem;
}

.form-flex div{
    margin-left:2rem;
}

form h3{
    font-size:2rem;
}

/*Footer*/
footer{
    background-color: #1C1C1BFF;
    color:white;
    padding:2rem;
    width:100%;
    margin-top:4rem;
}

footer a{
    color:white;
    text-decoration: none;
    font-size:1.6rem;
}

footer li{
    margin-bottom:1rem;
}

footer ul{
    padding-left:0;
}

.footer-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    background-color: rgb(19, 19, 18);
    text-align: center;
    margin:0;
    padding:1rem;
}

.footer p{
    margin:0;
    font-size:1.4rem;
}

/*Sidan för registrering*/
#register{
    display: block;
    margin:auto;
    max-width:600px;
    padding:2%;
    width:100%;
    margin:8rem auto auto auto;
    border:2px solid rgb(163, 161, 159);
    background-color: white;
}

#register input[type=text],input[type=password],input[type=email] {
    width:100%;
    max-width:500px;
}

#register p{
    margin-bottom:3rem;
    text-align: center;
}

.error-message{
    color:rgb(61, 0, 0);
    text-align: center;
    padding:2%;
    border:0.5px solid red;
    background-color: rgb(252, 224, 224);
}

.error-create{
    color:rgb(61, 0, 0);
    text-align: center;
    padding:1%;
    border:0.5px solid red;
    background-color: rgb(252, 238, 238);
    max-width:400px;
    margin:auto;
}

.stored{
    text-align: center;
    font-weight: bold;
}

.stored i{
    color:green;
}


.error-form{
    font-size: 1.6rem;
    font-family: 'Questrial', sans-serif;
    display: block;
    margin-bottom:2rem;
    font-weight: bold;
    color:rgb(61, 0, 0);
}

/*Admin-sidan*/
.admin h2{
    text-align: center;
}
.admin-flex{
    display:flex;
    margin-top:5rem;
    justify-content: space-between;
}

#admin-form{
    max-width:1000px;
    width:100%;
    margin: 2rem auto 0 auto;
    background-color: white;
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#admin-ul{
    padding-left:0;
    padding:3%;
}

#empty-p{
    text-align: center;
}

#admin-ul li{
    font-size:1.6rem;
    margin-top:2rem;
    background-color: white;
    border:5px solid rgb(216, 214, 214);
    padding:1%;
}

#left{
    width:100%;
    max-width:340px;
    background-color: white;
    align-self: baseline;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#left h3{
    text-align: center;
}


#right{
    max-width: 800px;
    width:100%;
}

#right h3{
    margin-top:0;
}

#title-span{
color:rgb(0, 0, 97);
}

#lagrat-admin i{
    color:green;
}

.content-text{
    max-width:1000px;
    width:100%;
}


#cke_content{
    max-width:1000px;
    width:100%;
    margin:1rem auto;
    display: block;
}

/*Om-sidan*/
.about-article{
    max-width:600px;
    width:100%;
    margin:2rem auto;
    display: block;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:2%;
}


.create-article{
    width:100%;
    max-width:1000px;
    display: block;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:2%;
    border:2px solid rgb(209, 209, 209);
    margin-bottom:3rem;
    background-color: white;
}

.lagrad{
    margin-top:3rem;
    border-top:1px solid black;
}
.lagrad h3{
    text-align: center;
}
.flex-a{
    display: flex;
    flex-direction: row-reverse;
}
.flex-a div{
    text-align: center;
    padding:1%;
}

.flex-a a{
    text-decoration: none;
    color:black;
    font-size:1.6rem;
}

.delete-a{
    background-color: rgb(245, 217, 217);
    border:1px solid red;
}

.change-a{
    background-color: rgb(210, 210, 255);
    margin-right:1rem;
    border:1px solid rgb(119, 104, 255);
}

/*Sidan för ändringar*/
#back{
    font-size:1.6rem;
    color:black
}

/*Media quiries för skärmar som är max 900px*/
@media only screen and (max-width: 900px){
    .latest{
        display: block;
        margin: 3rem auto;
        max-width:890px;
        width:100%;
    }
    .arrow-i{
        position: relative;
        right:0rem;
    }

}


/*Media quiries för skärmar som är max 730px*/
@media only screen and (max-width: 770px) {
    .desktop-nav{
        display: none;
    }

    .admin-flex{
        flex-direction: column;
    }

    #left{
        min-width:100%;
    }

    .hamburger-menu{
        display: block;
        background-color: transparent;
        position:absolute;
        top:0;
        right:0;
        z-index:2;
    }

    .hamburger-icon {
        background-color: transparent;
        border:none;
        font-size:2.5rem;
        cursor:pointer;
        display:block;
        color:black;
        position:absolute;
        right:0.5rem;
        top:2rem;
    
    }

    .hero-image img{
        width:100%;
    }

    .flex-nasa{
        display: flex;
        flex-direction: column;
    }

    #output-div{
        display: block;
        margin:auto;
    }

    #img-nasa{
        display: block;
        margin:auto;
        width:100%;
    }

    #img-nasa img{
        position: relative;
        right:10%;
        margin-top:2rem;
    }

    #space{
        margin-top:4rem;
        padding:3%;
    }

    .hero-text {
        text-align: center;
            position: absolute;
            top: 27%;
            right:20%;
            color: white;
            background-color: rgba(0, 0, 0, 0.747);
            padding:2%;
            border-radius:5px;
     }
    
     .hero-text h2{
         font-size:2rem;
     }

     #register-a{
         padding:2%;
         box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
         
     }


    

.nav-ul {
    display: none;
    padding-left: 0;
    list-style-type: none;
   width:100vw;
   position:relative;
   top:4rem;
}


.nav-ul li{
    border-bottom:2px solid black;
    padding:6%;
    text-align: center;
    display: block;
    font-size: 1.8rem;
    
}
/*Länkarna när dom syns*/
.nav-ul.show {
    display: block;
    background-color: white;
    margin-top:2rem;
}    
.flex-index{
    flex-direction: column;
}
.index-users{
    max-width:400px;
    width:100%;
    display: block;
    margin: auto;
    
}
.index-users li{
    margin:4rem;
}
.index-users h2{
    font-size:2.4rem;
    text-align: center;
}
}
